.background-container{
    background-color: #100457;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

.activities-container{
    background-color: #0d072d;
    height: 100vh;
    width: 85vw;
    right: 0vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding-top: 0px;
}

.titulo-actividades{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    font-family: 'Pragmatica', sans-serif;
    color: #b5adad;
    text-align: center;
    position: fixed;
    top: 20px;
    z-index: 1;
    background-color: transparent;
}

.loading-message, .error-message {
    color: #b5adad;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
}

.new-activity-button{
    position: absolute;
    top: 2vw;
    left: 2vw;
    width: 3vw;
    height: 3vw;
    z-index: 100;
    padding: 0.7vw 1.5vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('../styles/images/newactivity.svg');
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}

.new-activity-button:hover{
    transform: scale(1.1);
}