.activities-container {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
}

.activities-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    overflow-y: auto;
    max-height: 80vh;
    scrollbar-width: thin;
    scrollbar-color: #100457 #b5adad;
    overflow-y: auto;
}

.activity-detail {
  max-width: 40%;
  margin: 0;
  padding: 1rem;
}

.enroll-button {
  background-color:#100457;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
}

.activity-card {
    background-color: #100457;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    width: calc(100% - 2rem);
    max-width: 30vw;
    text-align: center;
    transition: transform 0.5s ease, background-color 0.3s ease;
    color:#b5adad;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.activity-card:hover {
    background-color: #08022e;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.6);
}

.activity-card h3 {
  margin-top: 0;
  color: #b5adad;
}