.home-page {
    max-width: 3000px;
    margin: 0 auto;
    padding: 0px;
    position: relative;
    min-height: 100vh;
    background-image: url('./images/homebackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}