@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&family=Bebas+Neue&family=M+PLUS+1+Code:wght@100..700&family=Pixelify+Sans:wght@400..700&display=swap');

.icon-container {
    position: absolute;
    top: 10%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
    width: 10vw;
}

.icon {
    width: 3.5vw;
    height: 3.5vw;
    object-fit: contain;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.2);
}

.user-menu {
    position: absolute;
    top:10%;
    right: 4vw;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    background-color: #3c3838;
    border-radius: 10px;
    padding: 10px;
/*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);*/
    z-index: 10;
    transform-origin: top right;
}

.user-menu-button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Antonio', sans-serif;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    font-size: 1.5vw;
    line-height: 0.9;
}
